#başlik1 {
    color: blueviolet;
}

.navbar {
    color:chocolate;
}
.sayfabaslik {
    color: darkslategrey;
}
.altbaslik {
    color: rgb(24, 211, 71);
}

.font-50 {
    font-size: 50px;
    color: #D989B5;
}
.yaziyi_ortala {
    text-align: center;
}